@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;700&family=Inter:wght@100;400;700&family=Mulish:wght@300;400;700&display=swap');

:root {
    --font-primary--: "Inter", serif;
    --font-secondary--: "Baloo da 2", serif;
    --font-action--: "Mulish", serif;

    --color-primary--: #1b1b1d;
    --color-secondary--: #b9d0fc;
    --color-action--: #3578F5;
    --color-error--: #e63636;


}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-transform: none;
}


.container-lg {
    width: 100%;
    min-height: 100vh;
    box-shadow: -5px 5px 5px 5px rgba(0, 0, 0, .5);
    margin-top: 10px;
    margin-bottom: 10px;
}

.area-nome-produto {
    margin-top: 5px;
    height: 20vh;
}

.carousel {
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, .5);
}

.carousel-item {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Botoes do carousel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 0, .5);
}

/* 
.area-compras {
    height: 350px;
    box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, .5);
}
.area-compras p {
    font-size: 10px;
}
.area-oferta{
    height: 25%;
    
}
 .detalhes-compra{
    height: 100%;
    background-color: black;
} 

.area-controle {
    height: 100%;
    background-color: black;
}


.area-controle input{
    width: 80%;
    margin-bottom: 2px;
}

.area-controle button {
    width: 80%;
    border-radius: 8px;
    background-color: var(--color-action--);
    font-family: var(--font-action--);
    font-size: large;
    font-weight: bold;
    color: #fff;
    border: 1px solid var(--color-primary--);
} */
.area-compras {
    font-family: var(--font-primary--);
    min-height: 350px;
}

.area-estoque {
    height: 20%;
}

.area-venda {
    width: 100%;
    height: 80%;
    
}

.area-venda .informacoes-venda,
.controle-venda {
    background-color: #fff;
}
.controle-venda{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

.controle-venda button{
    position: absolute;
    bottom: 0;
    width: 80%;
    border-radius: 8px;
    font-family: var(--font-action--);
    font-size: large;
    font-weight: bold;
    color: #fff;
    background-color: var(--color-action--);
}

.area-interesses{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.area-detalhes :not(p) {
    margin-top: .5rem;
    text-align: center;
}

.titulo {
    background-color: rgba(0, 0, 0, .8);
}

.titulo h1 {
    color: #fff;
    font-size: 2rem;
}